<!DOCTYPE html>
<h1>Log in below:</h1>
<form action='/sessions' method="POST">
  <label>Email:</label>
  <br/>
  <input type="text" name="email" placeholder="Email:">
  <br/>
  <label>Password:</label>
  <br/>
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log In">
</form>