<% #takes in email and password and posts to /sessions %>
<br>

<h1>Log in below:</h1><br>
<% #displays errors based on bad emails or passwords %>
<p style="color:#AE1F00"><small><i>  <%= @error%></i></small></p>

<form action='/sessions' method="POST">
  <label>Email:</label>
  <br/>
  <input type="text" name="email" placeholder="Email:">
  <br/>
  <label>Password:</label>
  <br/>
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log In">
</form>