  div.welcome {
    border-radius: 8px 40px;
    padding: 20px;
    width: 300px;
    height: 200px;
    font-size: 5rem;
    text-align: left;
    margin: auto;
    line-height: 8vh;
    color: #fcedd8;
    background-image:url(/images/texturedgreenbright.jpg);
    font-family: "Brush Script MT", Times, 
    cursive; 
	    font-weight: 700;
      text-shadow: 3px 3px 0px #eb452b, 
                  5px 5px 0px #efa032, 
                  7px 7px 0px #46b59b,  
                  9px 9px 0px #052939, 
                  12px 12px 0px #bcbdf8, 
                  15px 15px 0px #017e7f 
  }

  img.title {
    max-width:600px;
    height:auto;
  }

  .fpd {
    border-radius: 20px;
    height: 100px;
    background-image:url(/images/texturedgreenbright.jpg);
    margin: auto;
    text-align: left;
    padding: 10px;
  }

  .form {
    border-radius:5px;
    background-image:url(/images/texturedgreenbright.jpg);
  }

  nav.top {
    background-color:#852c00;
    border-radius:15px;
    margin: auto;
    color: black;
  }

  html {
    background: url(/images/1183609.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  ul.nav {
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    display: flex;
  }

  body.nav {
    margin: 0;
  }
  h3.motto {
    display: block;
    margin-top: 1em;
    padding: 1em;
    border-radius: 10;
    background-color:#852c00;
    text-align: center;
    border-radius: 15px 5px;
    line-height: 2vh;
  }
  
  li.nav {
    list-style-type: none;  
    margin: 2vw;
    font-size: 3vh;
  }

  a.nav {
    text-decoration: none;
    color: black;
    padding: 2vw;
    font-family: monospace;
    display:block;
  }

  a:visited {
    color: #c5c200;
  }

  a.nav:hover{
    background-color: #0b8f81;
  }

  .active{
    background-color:aqua;
    color: white;
  }


  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
}
