<% #"hello user" %>

<head class="greet"><h2>Welcome, <%=@user.name%>!</h2></head>
<body>
<% #Iterates through user's vacation list, diplaying linked titles %>
<h1> Your Vacations </h1>
<% @vacations.each do |v| %>
    <li>
    <a href="/vacations/show/<%= v.id %>"><%= v.title %></a>
    </li>
<% end %>
<br>
<% #link to make new vacation %>
<a href="/vacations/new">Add new vacation!</a>
</body>
<br><br>
<% #logout back to main page%>
<a href="/sessions/logout">Log Out</a>