<div class="fpd">
  <p>
    Remember when other countries allowed United States citizens through their borders because we weren't cesspools of COVID-19
    anti-masker threats?</p>
    <p> We here at Travel Tracker do. While we all wait patiently for the hopefully inevitable lifts on travel 
    restrictions, why not look back fondly on your past travels?  With this app, you can store, view, edit and/or delete vacations you've taken in the past!
  </p>
  <p>Currently, you can register with a unique email. From there you are free to keep log of your past vacations!</p>
  <p>This app was written by Hunter Kolasa for a Sinatra Web App development project.</p>
  <br>
  <h2><b><i>Credits:</b></i></h2>
  <hr>
  <p>James Burkett - Travel Tracker Logos</p>
  <p>All my friends - Putting up with my constant complaints about why my code wasn't working.</p>

</div> 