<body>
<% #Login and signup links %>
  <div class="form">
    <div class="linkcolor">
      <h1><a href="./sessions/login">Login</a></h1>
      <h4>New user? <a href="./registration/signup">Sign-up</a></h4>
    </div>
  </div
</body>  
