
<img class="title" src="/images/Logo4.png" alt="Travel Tracker"></img>
<div class="motto">
<h3 class="motto">Your personal app for remembering the good ol' days</h3><br/>
</div>
<div class="fpd">
<p>
  Remember when other countries allowed United States citizens through their borders because we weren't cesspools of COVID-19
  anti-masker threats? We here at Travel Tracker do.  While we all wait patiently for the hopefully inevitable lifts on travel 
  restrictions, why not look back fondly on your past travels?  With this app, you can store past vacation experiences and, as 
  long as the sole programmer doesn't get too distracted with his new VR setup, much much more!
</p>
</div> 

<% #Login and signup links %>
<div class="form">
<h1><a href="./sessions/login">Login</a></h1>
<h4>New user? <a href="./registration/signup">Sign-up</a></h4>
</div>
</body>  
