<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>Travel Tracker</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <div>
    <nav class="nav">
      <ul class="bar">
        <li class="bar"><a href="/user/home"> Home </a></li>
      
        <li class="bar"><a href="/vacations/all"> Vacations </a></li>
      
        <li class="bar"><a href="/sessions/logout">Logout </a></li>

        <li class="bar"><a href="/about">About</a></li>
      </ul>
    </nav>
    </div>
    <hr class="hr">
  </head>
  <body>
        <%= yield %>
      <footer class="branding">
        <small><strong>Wash your hands and drink lots of water.</strong></small><br><br>
        <small>&copy; 2021 <strong>Travel Tracker</strong></small>
      </footer>
  </body>
</html>
