


<head>
    <title><i>Oh no!</i></title>
</head>

<body>

    <img class= "nf" src="/images/nf.png" height="auto" width="70%">
    <div class="error">
    <h1>Whoops!</h1>
    <p>Looks like you got lost in all the vacation memories!</p>
    <a href="/user/home" class="button">Regain your bearings!</a>
    </div>

</body>


